nav {
    background-color: #383b38;
    padding: 15px;
    text-align: left;
}

nav a {
    text-decoration: none;
    color: #aeb0ae;
}

a {
    text-decoration: none;
    color: black;
}

body {
    text-align: center;
    background-color: #dcdedc;
}

header {
    background-color: #c5c7c5;
    padding: 15px;
}

/*section {
    background-color: #c5c7c5;
}*/

#education {
    background-color: #c5c7c5;
    padding: 10px;
}

#projects {
    background-color: #c5c7c5;
    padding: 10px;
}

.project-card {
    background: #dcdedc;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    display: inline-block;
    margin: 10px;
}

.gallery-container img {
    width: 150px;
    height: 200px;
    margin: 5px;
    border-radius: 5px;
}

#contact {
    background-color: #c5c7c5;
    padding-bottom: 10px;
}

.skills-container {
    display: inline-block;
}

footer {
    background-color: #383b38;
    padding: 10px;
    color: #aeb0ae;
}